/* 전체 컨테이너 */
.container {
  min-height: 100vh;
  height: 100%;
  background-color: #ffffff;
  padding: 2rem 0;
  font-family: "Pretendard";
  align-items: center;
}

.wrapper {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.card {
  background-color: #f9fafb;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  max-width: 540px;
  margin: 0 auto;
}

/* 헤더 영역 */
.header {
  margin-bottom: 1.5rem;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #323439;
  margin-bottom: 0.5rem;
  text-align: center;
}

.questionnaireId {
  font-size: 14pt;
  color: #6b7280;
  justify-content: space-between;
  align-items: center;
  display: none;
}

/* 토큰 만료 시간 경고 */
.expirationWarning {
  background-color: #fef3c7;
  border: 1px solid #f59e0b;
  border-radius: 0.375rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  text-align: center;
}

.expirationText {
  color: #92400e;
  font-weight: 500;
  font-size: 0.875rem;
}

.downloadButton {
  padding: 0.5rem 1rem;
  background-color: #2579ef;
  color: white;
  border: none;
  border-radius: 0.375rem;
  font-weight: 500;
  font-size: 10pt;
  cursor: pointer;
  margin-left: auto;
  display: block;
}

.downloadButton:disabled {
  background-color: #9ca3af;
}

.infoItem {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 100%;
}

.infoItem > span {
  color: #6b7280;
  text-align: right;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.grid > * {
  position: relative;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
}

.grid > *:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  height: 1px;
  background: repeating-linear-gradient(
    to right,
    #d1d5db 0,
    #d1d5db 4px,
    transparent 4px,
    transparent 8px
  );
}

.divider {
  width: 100%;
  height: 1px;
  margin: 0.75rem 0;
  background: repeating-linear-gradient(
    to right,
    #d1d5db 0,
    #d1d5db 4px,
    transparent 4px,
    transparent 8px
  );
}
