/* 정보 카드 공통 스타일 */
.infoCard {
  padding: 5px;
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.infoItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  width: 100%;
  padding: 0;
}

.infoTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 0;
  color: #858c9a;
}

.infoValue {
  font-size: 14px;
  color: #323439;
  text-align: left;
  flex: 1;
  word-break: break-all;
  padding: 0;
}
